* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body {
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
}

.card {
    max-width: 255px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    padding: 12px;
    border-radius: 15px;
}

.card>img {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.content {
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 0 6px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}

.card p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 0.85rem;
    margin-bottom: 20px;
    padding: 0 8px;
}